<h3>Distributed</h3>
<img src = "resources/images/screenshots/741px-CheckDns.png" alt = "Check DNS Screenshot" class = "thumbnail" />
<p markdown = "1">Send results to external databases or forward results to other nodes. You run service checks on Upsilon nodes in your network where it makes sense. The [upsilon-web](upsilon-web) service provides a single unified interface of these distributed nodes.</p>


<h3> Flexible</h3>
<img src = "resources/images/screenshots/741px-Dashboard.png" alt = "Dashboard screenshot" class = "thumbnail" />
<p>Checks are just super simple scripts. Despite the bunch of checks that are supported already, you and use your favorite language, Bash, Python, to monitor what makes sense to you. Upsilon has been used to monitor many different things and is totally API compatible with all nagios monitoring scripts. </p>

<h3>Extensible</h3>
<p markdown = "1">You can add monitoring checks to Upsilon at runtime - without needing to restart the server. The [upsilon-node](upsilon-node) and [upsilon-web](upsilon-web) projects both have their own REST APIs.</p>

<p>DNS records, domain name expiry, MySQL Databases, ping times and any many more, including thousands of existing nagios checks. Create your own in any programming language using the service check API. [Read More »](service-checks)</p>

