body {
	font-family: sans-serif;
	margin: 0;
	line-height: 1.5;
}

ul.navigation {
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	display: inline-block;
	vertical-align: top;
	list-style: none;
}

ul.topmenu {
	margin-right: 1em;
}

ul.topmenu > li {
	display: inline-block;
}

ul.topmenu > li > a {
	font-weight: bold;
	display: block;
	padding-right: 1em;
	padding-left: 1em;
}

ul.submenu {
	background-color: #444;
	position: absolute;
}

div#header {
	background-color: #444;
}

nav {
	vertical-align: middle;
	text-align: left;
}

nav a {
	color: white;
}

div#content {
	padding: 1em;
}

div#splash {
	padding: 1em;
	background-color: black;
	color: white;
}

div#footer {
	padding: 1em;
	color: gray;
}

a {
	text-decoration: none;
}

a:hover { 
	text-decoration: underline;
}

div#header h1 {
	vertical-align: middle;
	margin: 0;
	padding-left: .5em;
}

div#header div.logo a {
	color: red;
	text-decoration: none;
}

nav {
	max-width: 1000px;
	display: inline-block;
}

nav ul li:hover {
}

nav ul li:hover ul, nav ul li a:focus + ul {
	left: auto;
}

ul.submenu {
	width: 15em;
	left: -100em;
}

label {
	width: 40px;
	position: absolute;
	top: .5em;
	color: white;
	text-align: center;
	vertical-align: middle;
}

label:hover {
	background-color: #ccc;
	color: black;
}

input[type="checkbox"], label.mobileOnly {
	display: none;
}

nav a:focus {
	color: cyan;
}

div#content a:focus {
	background-color: cyan;
}

nav a {
	display: block;
	padding: .4em;
}

nav a:hover {
	background-color: black;
	color: white;
}

div#header a#a11yContentSkip {
	width: 1px;
	height: 1px;
	position: absolute;
	overflow: hidden;
	top: -10px;
}

div#header a#a11yContentSkip:focus { 
	padding: 1em;
	width: auto;
	height: auto;
	overflow: auto;
	top: auto;
	background-color: cyan;
	color: black;
}

div.searchContainer {
	display: inline-block;
	position: absolute;
	right: 1em;
	width: 40%;
	top: 1em;
	right: 1em;
	display: none;
}

a.button, a.button:visited {
	background-color: #444;
	padding: .6em;
	padding-left: 1em;
	padding-right: 1em;
	color: white;
	font-weight: bold;
	letter-spacing: 1.5;
	margin: .5em;
}

a.button:hover, a.button:focus, a.button:active {
	background-color: maroon !important;
	text-decoration: none;
}

hr {
	width: 30%;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	height: 0;
	border: 0;
	border-bottom: 2px dashed black;
	text-align: center;
}

div.logo {
	padding-left: 1em;
	display: inline-block;
}

div.logo img, div.logo h1 {
	display: inline-block;
}

div.logo img {
	vertical-align: middle;
}

h3 {
	margin-bottom: -.8em;
}

.karmaGood {
	background-color: limegreen;
	font-weight: bold;
}

.karmaWarn {
	background-color: orange;
	font-weight: bold;
}

.karmaBad {
	background-color: salmon;
	font-weight: bold;
}

.subtle {
	color: gray;
}

div#content table {
	background-color: #efefef;
	border-collapse: collapse;
}

div#content td {
	border: 1px solid darkgray;
	padding: .2em;
}

a.external, a.external:visited {
	color: #6495ED;
}

abbr {
	border-bottom: 1px dotted black;
	cursor: help;
}

code {
	display: block;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	padding: 1em;
	line-height: 2;
	margin-bottom: 1em;
}

ul.tabmenu {
	border-bottom: 1px solid black;
	margin: 0; padding: 0;
	background-color: gray;
}

ul.tabmenu li {
	display: inline-block;
	border: 1px solid black;
	margin-bottom: 2px;
}

ul li a img {
	vertical-align: middle;
}

ul.tabmenu li a, ul.tabmenu li a:visited {
	color: black;
	display: block;
	cursor: pointer;
	padding: .2em;
	background-color: #ccc;
}

ul.tabmenu li a:focus, ul.tabmenu li a.selected {
	background-color: black;
	color: white;
}

ul.tabmenu li a:hover {
	background-color: #ddd;
	color: black;
	text-decoration: none;
}

div.tab {
	display: none;
	padding-top: 1em;
}

div.tab:target {
	display: block;
}

input[type="checkbox"]:checked ~ div.searchContainer {
	display: block;
	z-index: 999;
	position: absolute;
	top: 3em;
	right: 1em;
	left: 1em;
	width: auto;
}

div#headerText {
	text-align: center;
}

