body {
	background-color: #efefef;
}

div#content {
	background-color: white;
}

div#headerText {
	max-width: 1024px;
	margin: auto;
	text-align: center;
}

div#headerText > * {
	text-align: left;
}

div#torso {
	max-width: 1024px; 
	margin: auto;
}

ul.topmenu {
	margin-left: 1em;
}

table.serviceCheck {
	max-width: 30%;
	float: right;
}
